<h3 class="slider__title">{{ section.settings.title }}</h3>
<div class="slider__slides">
	{% for block in section.blocks %}
  		<img src="{{ block.settings.image | img_url: 'master' }}">
  	{% endfor %}
</div>
<div class="slider__slides">
	{% for block in section.blocks %}
  		<img src="{{ block.settings.slide | img_url: 'master' }}">
  	{% endfor %}
</div>

{% schema %}
  {
    "name": "Slider",
    "tag": "div",
    "class": "slider",
    "settings": [
      {
        "type": "text",
        "id": "title", 
        "label": "Slides title"
      }
    ],
    "blocks": [
		{
          "type": "image",
          "name": "slides",
          "settings": [
            {
              "type": "image_picker",
              "id": "slide",
              "label": "Slide:"
            }
          ]
		},
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
