<h3 class="slider__title">{{ section.settings.title }}</h3>
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'slide' %}
      <div class="slide" {{ block.shopify_attributes }}>
        {{ block.settings.image | img_url: '2048x' | img_tag }}
      </div>
    ...
  {% endcase %}
{% endfor %}

{% schema %}
  {
    "name": "Slider",
    "tag": "div",
    "class": "slider",
    "settings": [
      {
        "type": "text",
        "id": "title", 
        "label": "Slides title"
      }
    ],
    "blocks": [
		{
          "type": "image",
          "name": "slides",
          "settings": [
            {
              "type": "image_picker",
              "id": "slide",
              "label": "Slide:"
            }
          ]
		},
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
