<h3 class="slider__title">{{ section.settings.title }}</h3>

{% for block in section.blocks %}
	{% if block.type == 'image' %}
      <div class="slider__slides">
              <img src="{{- block.settings.image | img_url: '500x500' -}}">
      </div>
	{% endif %}
{% endfor %}

{% for block in section.blocks %}
	{% if block.type == 'slide' %}
      <div class="slider__slides">
              <img src="{{- block.settings.slide | img_url: '500x500' -}}">
      </div>
	{% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Slider",
    "tag": "div",
    "class": "slider",
    "settings": [
      {
        "type": "text",
        "id": "title", 
        "label": "Slides title"
      }
    ],
    "blocks": [
		{
          "type": "image",
          "name": "slides",
          "settings": [
            {
              "type": "image_picker",
              "id": "slide",
              "label": "Slide:"
            }
          ]
		},
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
