<h3 class="slider__title">{{ section.settings.title }}</h3>

{% schema %}
  {
    "name": "Slider",
    "tag": "div",
    "class": "slider",
    "settings": [
      {
        "type": "text",
        "id": "title", 
        "label": "Slides title"
      }
    ],
    "blocks": [
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
       }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
